# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Subject files
*.pdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.vscode
cmake*
CMake*

**/.idea
**/.vscode
**/cmake*
**/CMake*

**/obj
**/.o
en.subject.pdf
checklist.pdf
checklist.png
*.dSYM
**/*.dSYM
*_shrubbery